.mat-sidenav {
    background-color: darkred;
    height: 100%;
}

.mat-sidenav-content {
    height: 725px;
    color: black;
    background-color: whitesmoke;
}

.startbutton {
    padding-top: 5px;
}

.monsterbutton {
    padding-top: 10px;
}