.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.line {
    border: 1px;
    border-color: black;
}

.sign-container {
    display: flex;
}

.signin {
    padding-right: 10px;
}

.signup {
    padding-left: 10px;
}