.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.line {
    border: 1px solid;
    border-color: black;
}

.signin {
    margin-left: 10px;
    margin-top: 5px;
}

.signup {
    left: 38em;
    margin-top: 5px;
}