<div class="monsterform">
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <label>Name</label>
        <input matInput>
    </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>HP</label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>Strength</label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>Dexterity</label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>Constitution</label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>Intelligence</label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>Wisdom</label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <label>Charisma</label>
    <input matInput>
  </mat-form-field>
<button routerLink="/monsters">Submit</button>
</div>