<!--   <mat-toolbar role="heading">
    <span class='link' [routerLink]="['home']">Encounter Builder</span>
    <span class='link' [routerLink]="['build']">Build</span>
    <div>
    <span class='link' [routerLink]="['/signin']">Sign In</span>
    <span class='link' [routerLink]="['/signout']">Sign Out</span>
    </div>
  </mat-toolbar>

  <mat-toolbar class="footer" role="Footer">
    <span>Created By Matt Brooks</span>
  </mat-toolbar> -->

  <div class="fluid-container">
    <app-header></app-header>
  </div>