<mat-accordion>
    <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
      <mat-expansion-panel showToggle>
    <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Monsters
          </mat-panel-title>
          <button class="addmonster" [routerLink]= "['/addmonsters']"> Add Monster </button>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{monsters}}
      </mat-expansion-panel>